body, #root {
  background-image: url("https://media.istockphoto.com/id/1146252014/photo/hangman-chalk-writing-on-old-grunge-chalkboard-background-with-space-for-text.jpg?s=612x612&w=0&k=20&c=4CsdY60xN3tEkoUMK8Vok_jI0ydASd8WBp50dsfcaC0=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  color: #291010;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

h1.title {
  font-size: 60px;
  color: rgb(24, 14, 2);
  vertical-align: super;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-button {
  background-color: #ffffff;
  color: #110a0a;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.start-button:hover {
  background-color: #ffffff;
}

.start-button i {
  margin-right: 0.5rem;
}
